<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Express HomeWork</title>
    <link href="/css/styles.css" rel="stylesheet">
  </head>
  <body>
    <nav>
      <a href="/"> STEWIE </a>
      <a href="/celebrity"> PETER </a>
      <a href="/about"> ABOUT </a>
      <a href="/login"> LOGIN </a>
    </nav>

    <div id="main-content">

      <%- body -%>
    </div>
  </body>
</html>
