
    <div id="profile" class='peter'></div>
    <h2>Peter Griffin</h2>
    <h2> BDAY : <%= bday %> <h2>
    <h2> Age : <%= age %> <h2>
    <h2> <%= monthToBday %> months and <%= daysToBday %> days to his birthday</h2>
    <p>Peter Griffin is the main protagonist and title character of the
      American animated sitcom Family Guy. He is voiced by cartoonist Seth
      MacFarlane and first appeared on television, along with the rest of the family,
       in the 15-minute short on December 20, 1998. Peter was created and designed by
       MacFarlane himself. MacFarlane was asked to pitch a pilot to the Fox Broadcasting
       Company based on Larry and Steve, a short made by MacFarlane which featured a middle-aged
        character named Larry and an intellectual dog, Steve. After the pilot was given the
         green light, The Griffin family appeared on the episode "Death Has a Shadow".</p>
