
    <div id="profile" class="stewie"></div>
    <h2>Stewie Griffin</h2>
    <p>Stewart Gilligan[1] "Stewie" Griffin is a main character from the American animated television series Family Guy.
       Obsessed with violence and matricide, Stewie (voiced by Seth MacFarlane) is the youngest child of Peter and Lois Griffin,
        and the brother of Meg and Chris Griffin. Over the duration of the series, he has also come to have a very close
         friendship with the family's anthropomorphic dog, Brian. Stewie is considered to be the show's breakout character.[2]
         Wizard magazine rated him the 95th greatest villain of all time.[3]</p>
